:root{
  --ifm-color-primary-lightest: #ED5F58;
  --ifm-color-primary-lighter: #E93F37;
  --ifm-color-primary-light: #E8342B;
  --ifm-color-primary: #E12219;
  --ifm-color-primary-dark: #CA1F17;
  --ifm-color-primary-darker: #BF1D15;
  --ifm-color-primary-darkest: #9E1811;
}
