<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!--
    <add key="Simple.Sauce" value="https://pkgs.dev.azure.com/nikolayadvolodkin/SimpleSauce/_packaging/Simple.Sauce/nuget/v3/index.json" />
    -->
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>