name: .net

on:
  push:
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '**.csproj'

env:
  SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
  SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
  SCREENER_API_KEY: ${{ secrets.SCREENER_API_KEY }}

jobs:
  build-and-test:

    name: test-${{matrix.os}}-${{matrix.dotnet}}
    strategy:
      #fail-fast: false
      matrix:
        os: [windows-latest, macOS-latest]
        dotnet: ['3.0', '3.1.x', '5.0.x']
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Install dependencies
      run: |
        cd ./dotnet/SimpleSauce.Test
        dotnet restore --verbosity normal
    - name: Build
      run: |
        cd ./dotnet/SimpleSauce.Test
        dotnet build --configuration Release --no-restore --verbosity normal
    - name: Test
      run: |
        cd ./dotnet/SimpleSauce.Test
        dotnet test --no-restore --verbosity normal